body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #8BC34A, #4CAF50);
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'YourChosenFont', cursive;
}

nav {
  display: flex;
  margin-top: 10px;
  justify-content: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  text-shadow: 2px 2px 4px rgba(214, 148, 16, 0.5);
}

nav a:hover {
  color: #2F2FF6;
}

section {
  padding: 40px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, #4CAF50, #8BC34A);
  border: 1px solid #ddd;
  overflow: hidden;
  clear: both;
}

h2 {
  color: greenyellow;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(122, 169, 5, 0.5);
}

h3 {
  margin-top: 80px;
  color: transparent;
  background-image: linear-gradient(to right, #004949, #00FFFF);
  background-clip: text;
  -webkit-background-clip: text;
}

article {
  margin-top: 20px;
  width: 70%;
}

aside {
  float: right;
  width: 30%;
  margin-left: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.small-photo {
  width: 200px;
  height: 250px;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.content {
  display: flex;
  align-items: flex-start;
}

.subtitle {
  margin-right: 20px;
}

.text {
  flex: 1;
}
