@charset "UTF-8";

/* Font */
@font-face {
  font-family: luxi;
  src: url('../fonts/Luxi-Sans/luxisr.ttf') format('truetype');
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  width: 100%;
  min-width: 500px;
  display: block;
  background-color: purple;
  color: black;
  font-family: luxi, sans-serif;
}

/* Navigation Styles */
nav,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-size: 100%;
  vertical-align: baseline;
}
